# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
.env
.env.*.local
.env.local
.env.test.local
.env.production.local

# Logs
logs
*.log
log.txt

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Optional: TypeScript
*.tsbuildinfo
